/* variables */
:root {
  --main-color-black: #35353a;
  --neutral-grey-05: #86878a;
  --neutral-grey-03: #d0d0d1;
  --neutral-grey-01: #f5f5f6;
  --main-color-orange: #f79222;
  --main-color-linear: linear-gradient(110deg, #5a1679 3.87%, #ae5b40 109.26%);
  --main-color-white: #fff;
  --main-color-blue: #4a7bb4;
  --main-color-purple: #702d8d;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.1s linear all;
}
p {
  font-size: 14px;
  font-weight: 400;
}
a {
  text-decoration: none;
}
li {
  font-size: 14px;
  font-weight: 600;
}
h1 {
  font-size: 54px;
  font-weight: 700;
}
h2 {
  font-size: 32px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 600;
}
h4 {
  font-size: 16px;
  font-weight: 600;
}
h5 {
  font-size: 14px;
  font-weight: 600;
}
h6 {
  font-size: 16px;
  font-weight: 300;
}
span {
  font-size: 14px;
  font-weight: 400;
}
span.location {
  font-size: 13px;
  font-weight: 300;
  color: var(--main-color-purple);
}
span.date {
  font-size: 13px;
  font-weight: 400;
  color: var(--neutral-grey-03);
}

body {
  width: 100%;
}
.website_wrapper {
  width: 100%;
}
/* header */
header {
  padding: 11.5px calc((100% - 1440px) / 2);
  width: 100%;
  background: var(--main-color-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h3 {
  color: var(--neutral-grey-03);
}
header .left_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
header .left_header > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
header .left_header div svg {
  width: 20px;
  height: 20px;
  fill: var(--main-color-white);
}
header .left_header div span {
  color: var(--neutral-grey-03);
  text-transform: uppercase;
}
header .left_header div span a {
  color: var(--neutral-white);
}
header .left_header div:hover svg {
  fill: var(--main-color-orange);
}
header .left_header div:hover span {
  color: var(--main-color-orange);
}
header .right_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
header .right_header a {
  width: 20px;
  height: 20px;
}
header .right_header svg {
  width: 20px;
  height: 20px;
  fill: var(--neutral-grey-03);
  cursor: pointer;
}
header .right_header svg:hover {
  fill: var(--main-color-orange);
}

/* search header  */
.search_header {
  width: 100%;
  padding: 10px calc((100% - 1440px) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--main-color-white);
}
.search_header .search_header_left img {
  width: 80px;
  height: 80px;
}
.search_header .search_header_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
.search_header .search_header_right .search_input {
  width: 870px;
  height: 45px;
  border: 0.5px solid var(--neutral-grey-03);
  border-right: 0;
  background: var(--main-color-white);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search_header .search_header_right .search_input .filter_dropdown {
  width: 130px;
  height: 100%;
  border-right: 0.5px solid var(--neutral-grey-03);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.search_header .search_header_right .search_input .filter_dropdown p {
  font-size: 13px;
  font-weight: 400;
  color: var(--neutral-grey-05);
}
.search_header .search_header_right .search_input .filter_dropdown svg {
  fill: var(--neutral-grey-05);
  width: 12px;
  height: 12px;
}
.search_header .search_header_right .search_input .search_button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--neutral-grey-03);
  border: 1px solid var(--neutral-grey-01);
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_header .search_header_right .search_input .search_button svg {
  width: 24px;
  height: 24px;
  fill: var(--neutral-grey-05);
  cursor: pointer;
}
.search_header .search_header_right .search_input input {
  width: calc(100% - 180px);
  height: 100%;
  border: none;
  outline: none;
  padding: 0 10px;
  color: var(--neutral-grey-05);
}
.search_header .search_header_right .apply_button {
  width: 153px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: var(--main-color-linear);
  border: none;
  color: var(--main-color-white);
}
